.button,
.filter__btn,
.selectcolorhex {
  position: relative
}

.section {
  font-size: 17px;
  margin-right: auto;
  margin-left: auto;
  padding: 30px 15px
}

.selectsize,
.size {
  padding: 7px 10px;
  cursor: pointer
}

.choose__color {
  display: grid;
  grid-template-columns: repeat(15, 1fr);
  gap: 5px;
  width: 20px;
  margin-top: 10px;
  margin-bottom: 30px
}

.location__body,
.size__body {
  display: flex;
  margin-bottom: 20px
}

.choose__color__para {
  font-size: 22px
}

.size__body {
  align-items: center;
  gap: 7px;
  margin-top: 10px
}

.size {
  background-color: #fff;
  color: #222;
  border: 1px solid #222
}

.selectsize {
  background-color: #222;
  color: #fff
}

.selectcolorhex::after {
  position: absolute;
  content: '';
  top: 35px;
  height: 3px;
  width: 30px;
  background-color: #000
}

.location__body {
  background-color: #f8f4f4;
  align-items: center;
  padding: 10px;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px
}

.location__body p {
  margin-bottom: 0;
  padding-bottom: 0
}

.ico__location {
  font-size: 35px;
  color: #6d659f
}

.price__body p,
.price__del {
  font-size: 27px;
  font-weight: 700
}

.price__body {
  display: flex;
  justify-content: space-between;
  margin-top: 20px
}

.button,
.number__body {
  align-items: center;
  display: flex
}

.number__body {
  gap: 10px
}

.number__body button {
  background-color: transparent;
  border: 1px solid #adadad;
  font-size: 5px;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  padding: 0
}

.number__body button svg {
  width: 25px;
  fill: #777
}

.button {
  width: 200px;
  height: 40px;
  cursor: pointer;
  border: 1px solid #be8f6e;
  background-color: #be8f6e;
  margin-top: 20px
}

.button,
.button__icon,
.button__text {
  transition: .3s
}

.button .button__text:dir(rtl) {
  transform: translateX(-30px);
  color: #fff;
  font-weight: 600;
  -webkit-transform: translateX(-30px);
  -moz-transform: translateX(-30px);
  -ms-transform: translateX(-30px);
  -o-transform: translateX(-30px)
}

.button .button__icon:dir(rtl) {
  position: absolute;
  transform: translateX(-160px);
  height: 100%;
  width: 39px;
  background-color: #e7d7c9;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-transform: translateX(-160px);
  -moz-transform: translateX(-160px);
  -ms-transform: translateX(-160px);
  -o-transform: translateX(-160px)
}

.button .svg {
  width: 30px;
  stroke: #fff !important
}

.button:hover {
  background: #e7d7c9
}

.button:hover .button__text {
  color: transparent
}

.button:hover .button__icon:dir(rtl) {
  width: 148px;
  transform: translateX(-20px);
  -webkit-transform: translateX(-20px);
  -moz-transform: translateX(-20px);
  -ms-transform: translateX(-20px);
  -o-transform: translateX(-20px)
}

.button:active .button__icon {
  background-color: #e7d7c9
}

.button:active {
  border: 1px solid #e7d7c9
}

.isTruncated {
  background-color: transparent;
  border: none;
  color: #343f97;
  text-decoration: underline;
  margin-bottom: 20px
}

.isTruncated__body p {
  width: 500px;
  margin-bottom: 0 !important
}

.button .button__text:dir(ltr) {
  transform: translateX(30px);
  color: #fff;
  font-weight: 600;
  -webkit-transform: translateX(30px);
  -moz-transform: translateX(30px);
  -ms-transform: translateX(30px);
  -o-transform: translateX(30px)
}

.button .button__icon:dir(ltr) {
  position: absolute;
  transform: translateX(160px);
  height: 100%;
  width: 39px;
  background-color: #e7d7c9;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-transform: translateX(160px);
  -moz-transform: translateX(160px);
  -ms-transform: translateX(160px);
  -o-transform: translateX(160px)
}

.button:hover .button__icon:dir(ltr) {
  width: 148px;
  transform: translateX(20px);
  -webkit-transform: translateX(20px);
  -moz-transform: translateX(20px);
  -ms-transform: translateX(20px);
  -o-transform: translateX(20px)
}

.share__icons {
  display: flex;
  align-items: center;
  justify-content: space-between
}

.share__icons p {
  font-size: 20px;
  font-weight: 700;
  margin: 0 20px 0 5px;
  color: #0d21bb
}

.share__icons p:dir(rtl) {
  margin-left: 20px;
  margin-right: 0
}

.share__icons div {
  display: flex;
  column-gap: 10px
}

.price__del {
  color: red !important;
  margin: 0 10px 0 45px
}

.price__del:dir(ltr) {
  margin: 0 45px 0 10px
}

.share__ico {
  cursor: pointer;
  padding: 5px 0;
  font-size: 36px
}

.update__price {
  display: flex;
  flex-direction: row-reverse
}

.not {
  font-weight: 700;
  font-size: 27px;
  color: red
}

@media (min-width:0px) and (max-width:600px) {
  .sizeimg {
    width: 100% !important;
    height: 100% !important
  }
}

.watch__btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px
}

.watch__para {
  margin-bottom: 0;
  font-weight: 700;
  font-size: 17px !important;
  padding-bottom: 0;
  text-align: center;
  margin-left: 0 !important;
  color: #08979d !important
}

.watch__para:dir(ltr) {
  margin-right: 0 !important
}

.visible__ico {
  width: 25px;
  font-size: 25px;
  color: #08979d
}

.row__details {
  padding-top: 70px;
  border-right: 3px solid #eee;
  padding-right: 50px
}

.select__images {
  display: flex
}

.hr {
  width: 70%
}

.qty__body {
  width: 70%;
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  margin-bottom: 10px
}

.filter__btn {
  --color: #fff;
  font-family: inherit;
  display: inline-block;
  width: 70%;
  height: 2.4em;
  line-height: 2.5em;
  margin: 5px 0;
  cursor: pointer;
  overflow: hidden;
  border: 2px solid #222;
  transition: color .5s;
  z-index: 1;
  font-size: 22px;
  border-radius: 6px;
  font-weight: 500;
  color: #222
}

.filter__btn:before {
  content: "";
  position: absolute;
  z-index: -1;
  background: #222;
  height: 150px;
  width: 200px;
  border-radius: 50%;
  top: 100%;
  left: 100%;
  transition: .7s
}

.filter__btn:hover {
  color: #fff;
  background: #222
}

.filter__btn:hover:before {
  top: -30px;
  left: -30px
}

.filter__btn:active:before {
  background: #222;
  transition: background
}

.mySwiper2 {
  height: 20%;
  width: fit-content
}

.mySwiper {
  box-sizing: border-box;
  padding: 10px 0;
  margin: 0 20px !important;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  max-height: 550px;
  width: 200px;
  scrollbar-width: none;
  -ms-overflow-style: none
}

.mySwiper::-webkit-scrollbar {
  width: 0
}

.mySlides {
  display: none
}

.mySlides.active {
  display: block
}

.column {
  float: left;
  width: fit-content;
  margin-bottom: 8px
}

.demo {
  opacity: .6;
  cursor: pointer
}

.demo.active,
.demo:hover {
  opacity: 1
}